<!-- Toolbar -->
<div class="toolbar" role="banner">
  <mat-icon>spa</mat-icon>
  <span>Shannon Schafhausen LMHC</span>
</div>

<!-- Page content -->
<div class="content" role="main">

  <div fxLayout="column" fxFlex fxLayoutGap="2em">

    <div fxLayout="row" fxFlex fxLayoutGap="2em">
      <div fxFlex>&nbsp;</div>
      <div>
        <img class="profile-circle" src="../assets/profile.PNG">
      </div>
      <div fxLayout="column" fxLayoutGap="1em">
        <p>
          Shannon Schafhausen is a Licensed Mental Health Counselor in Florida.  She received her Master of Arts in Counseling
          from the University of Northern Colorado in 2007 and has provided counseling services for 12 years.  She has diverse
          experience in the mental health field and previously worked as a Certified Addictions Counselor and Licensed Professional
          Counselor in Colorado.  Shannon has worked in mental health centers, EAP services, outpatient practices, hospitals and
          county jails.
        </p>
        <p>
          Shannon is trained in EMDR, which she sees as a highly effective treatment to resolve several presenting problems to
          include trauma.  Shannon uses Dialectical Behavior Therapy, Cognitive Behavior Therapy, Acceptance and Commitment Therapy,
          and several other evidenced based practices and theoretical orientations.  Shannon primarily focuses on strength-based
          counseling and supports individuals by providing them tools to function in a healthy way in order to meet their goals.
        </p>
      </div>
      <div fxFlex>&nbsp;</div>
    </div>

    <div fxLayout="row" fxFlex>
      <div fxFlex>&nbsp;</div>
      <p>
        Shannon works with a variety of concerns, including trauma, anxiety disorders, panic disorder, mood disorders, dual diagnosis,
        codependency, parenting issues, bereavement, substance use disorders, personality disorders, relational issues, mindful
        self-compassion, suicidal ideation, serious persistent mental health issues, and adjustment disorders.
      </p>
      <div fxFlex>&nbsp;</div>
    </div>

    <div fxLayout="row" style="text-align: center">
      <div fxFlex>&nbsp;</div>
      <mat-icon style="font-size: 6em; color: #ADD8E6">spa</mat-icon>
      <div fxFlex>&nbsp;</div>
    </div>

  </div>

</div>
